.container {
    width: 80%;
    height: 70vh;
    background-color: transparent;
    margin-left: 10%;
    margin-right: 10%;
    ::-webkit-scrollbar-track {
        background-color: #0f010134;
    }
    ::-webkit-scrollbar {
        width: 3px;
        height: 6px;
        background: #0a020242;
    }
    ::-webkit-scrollbar-thumb {
        background: #04a8da1e;
    }

    .item {
        width: auto;
        height: 100%;
        display: flex;
        overflow-x: scroll;
        ::-webkit-scrollbar-track {
            background-color: #0f010134;
        }
        ::-webkit-scrollbar {
            width: 6px;
            background: #0a020242;
        }
        ::-webkit-scrollbar-thumb {
            background: #04a8da7c;
        }

        .item-1 {
            width: 50%;
            height: 100%;
            overflow-y: auto;
            background-color: black;

            h1 {
                color: white;
                font-size: 100px;
            }
        }

        .itens {
            width: 50%;
            height: 100%;
            background-color: yellow;

            .i1 {
                display: flex;

                img {
                    width: 600px;
                    height: 450px;
                }
            }
        }

    }
}