.box {
    width: 100%;
    height: 700px;
    background-color: transparent;
    margin-left: -5%;
    margin-top: -15vh;

    .container {
        width: 100%;
        height: 570px;
        background-color: transparent;
        display: flex;
        overflow: hidden;


        .one {
            width: 25%;
            height: 100%;
            margin-top: -150px;
            h2 {
                color: rgba(240, 205, 6, 0.712);
                font-family: 'Montserrat', sans-serif;
                text-align: end;
                margin-top: -170px;
                margin-right: 10px;
                font-size: 25px;
            }

            video {
                width: 100%;
                height: 100%;
                background-size: cover;
                padding-bottom: 5%;
            }
            .box-t {
                width: 80%;
                height: 60%;
                margin-left: auto;
                padding: 20px;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    color: rgba(255, 255, 255, 0.788);
                    font-size: 15px;
                    text-align: justify;
                    padding: 10%;
                    font-weight:normal;
                }
            }
        }
        .two  {
            width: 25%;
            height: 100%;
            margin-top: -150px;

            h2 {
                color: rgba(240, 205, 6, 0.712);
                font-family: 'Montserrat', sans-serif;
                text-align: end;
                margin-top: -170px;
                margin-right: 10px;
                font-size: 25px;
            }
            .box-t {
                width: 80%;
                height: 60%;
                margin-left: auto;
                padding: 20px;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    color: rgba(255, 255, 255, 0.788);
                    font-size: 15px;
                    text-align: justify;
                    padding: 10%;
                    font-weight:normal;
                }
            }

            video {
                width: 100%;
                height: 100%;
                background-size: cover;
                padding-bottom: 5%;
            }
        }
        .tree {
            width: 25%;
            height: 100%;
            margin-top: -150px;

            h2 {
                color: rgba(240, 205, 6, 0.712);
                font-family: 'Montserrat', sans-serif;
                text-align: end;
                margin-top: -170px;
                margin-right: 10px;
                font-size: 25px;
            }
            .box-t {
                width: 80%;
                height: 60%;
                margin-left: auto;
                padding: 20px;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    color: rgba(255, 255, 255, 0.788);
                    font-size: 15px;
                    text-align: justify;
                    padding: 10%;
                    font-weight:normal;
                }
            }

            video {
                width: 100%;
                height: 100%;
                background-size: cover;
                padding-bottom: 5%;
            }
        }
        .four {
            width: 25%;
            height: 100%;
            margin-top: -150px;

            h2 {
                color: rgba(240, 205, 6, 0.712);
                font-family: 'Montserrat', sans-serif;
                text-align: end;
                margin-top: -170px;
                margin-right: 20px;
                font-size: 25px;
            }
            .box-t {
                width: 80%;
                height: 60%;
                margin-left: auto;
                padding: 10%;
                font-weight:normal;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    color: rgba(255, 255, 255, 0.788);
                    font-size: 15px;
                    text-align: justify;
                    padding: 7px;
                }
            }

            video {
                width: 100%;
                height: 100%;
                background-size: cover;
                padding-bottom: 5%;
            }
        }
    }
    
}

@media (max-width: 400px) {
    .box {
        margin-top: 100vh;
        width: 100%;
        height: 300px;
        background-color: transparent;
    
        .container {
            width: 100%;
            height: 270px;
            background-color: transparent;
            display: inline;

            .one {
                width: 90%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;

                h2 {
                    visibility: hidden;
                }
                
    
                video {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            .two  {
                width: 90%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: -100px;
                h2 {
                    visibility: hidden;
                }
    
                video {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            .tree {
                width: 90%;
                height: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-top: -100px;
                h2 {
                    visibility: hidden;
                }
    
                video {
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
            .four {
                visibility: hidden;
            }
            .five {
              visibility: hidden;
            }
        }
    }
    
}