.sliderTwo {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: inline-block;
    margin-top: -10vh;


    .container {
        width: 80%;
        height: 80vh;
        background-color: rgba(12, 12, 12, 0.616);
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        border-radius: 10px;
        display: flex;
        overflow: hidden;

        .left {
            width: 30%; 
            height: 75%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 7%;
            border-radius: 10px;

            

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 14px;
                color: rgba(157, 224, 215, 0.582);
                padding: 10px;
                margin-left: auto;
                margin-right: auto;
                text-align: justify;
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                color: white;
                padding: 5px;
                margin-top: 20px;
                animation: fontColor 5s ease infinite alternate-reverse;
            }
            button {
                width: 100px;
                height: 40px;
                background-color: transparent;
                margin-left: 30%;
                margin-right: 30%;
                border: 1px solid rgba(202, 11, 219, 0.445);
                border-radius: 5px;
                margin-top: 25px;
                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.534);
                }
            }

            button:hover {
                background-color: rgba(224, 14, 172, 0.336);
                transition: .7s ease-in-out;
            }
        }

        .right {
            width: 70%;
            height: 80%;

            iframe {
                width: 100%;
                height: 415px;
                margin-top: 50px;
                margin-left:-2%;
                margin-right: 5%;
            }
        }
    }

}


@media (max-width: 400px) {
    .sliderTwo {
        width: 100%;
        height: 100vh;
        background-color: transparent;
        margin-top: -10vh;
        display: inline;
    
    
        .container {
            width: 80%;
            height: 95vh;
            background-color: rgba(12, 12, 12, 0.616);
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 100px;
            border-radius: 10px;
            display: inline-block;

            .left {
                width: 80%; 
                height: 45%;
                margin-left: 5%;
                margin-right: 5%;
                margin-top: 7%;
                animation: colorBorder 2s ease infinite alternate-reverse;
                border-radius: 10px;
                margin-left: auto;
                margin-right: auto;
    
                
    
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: rgba(157, 224, 215, 0.582);
                    padding: 10px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: justify;
                }
                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    color: white;
                    padding: 5px;
                    margin-top: 20px;
                    animation: fontColor 5s ease infinite alternate-reverse;
                }

                button {
                    visibility: hidden;
                }

               
    
            }

            .right {
                width: 100%;
                height: 100%;
                margin-top: -150px;
    
                iframe {
                    width: 98%;
                    height: 415px;
                    margin-top: 50px;
                    margin-left:2%;
                    margin-right: 2%;
                }
            }
        }
    }
    
}