.sobre {
    height: 150vh;
    background-color: black;
    background-image: url(./fundovideos.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    height: 150vh;
}