.sobre {
    height: auto;
    background-color: rgba(0, 0, 0, 0.973);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    height: 320vh;
}