.slider {
    width: 100%;
    height: 40vh;
    background-color: transparent;
    margin-top: 200vh;
    margin-bottom: 30%;
    display: inline-block;


    .container {
        width: 80%;
        height: 80%;
        background-color: rgba(12, 12, 12, 0.616);
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 0px;
        border-radius: 10px;
        display: flex;

        iframe {
            width: 760px;
            height: 415px;
            margin-top: 50px;
            margin-left: 5%;
        }

        .left {
            width: 30%; 
            height: 80%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 5%;
            animation: colorBorder 2s ease infinite alternate-reverse;
            border-radius: 10px;

            h1 {
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                color: rgba(187, 11, 128, 0.884);
                padding: 10px;
            }

            h2 {
                font-family: 'Montserrat', sans-serif;
                font-size: 17px;
                color: rgba(248, 252, 251, 0.603);
                padding: 5px;
                margin-left: auto;
                margin-right: auto;
                text-align: justify;
            }
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 50px;
                color: white;
                padding: 5px;
                margin-top: -20px;
                animation: fontColor 5s ease infinite alternate-reverse;
            }

            button {
                width: 100px;
                height: 40px;
                background-color: transparent;
                margin-left: 30%;
                margin-right: 30%;
                border: 1px solid rgba(255, 0, 0, 0.199);
                border-radius: 5px;
                margin-top: 25px;
                color: white;
            }

            button:hover {
                background-color: rgba(224, 14, 172, 0.336);
                transition: .2s ease-in-out;
            }
        }

        @keyframes fontColor {
            100%{
                color: rgba(236, 5, 5, 0.603);
                transition: 2s ease;
            }
            75%{
                color: rgba(233, 192, 10, 0.753);
                transition: 2s ease;
            }
            50%{
                color: rgba(28, 235, 207, 0.651);
                transition: 2s ease;
            }
            25%{
                color: rgba(183, 81, 214, 0.637);
                transition: 2s ease;
            }
            0%{
                color: rgba(240, 30, 30, 0.39);
                transition: 2s ease;
            }
        }



        @keyframes colorBorder {
            100% {
                border-top: 1px solid rgba(238, 6, 6, 0.781);
                border-bottom: 1px solid rgba(216, 32, 8, 0.781);
                border-left: 1px solid rgba(206, 23, 23, 0.767);
                border-right: 1px solid rgba(255, 51, 0, 0.925);
                transition: 3s ease-in-out;
            }
            50%{
                border-top: 1px solid rgba(205, 8, 231, 0.863);
                border-bottom: 1px solid rgba(175, 9, 226, 0.774);
                border-left: 1px solid rgba(241, 18, 103, 0.788);
                border-right: 1px solid rgba(183, 8, 206, 0.829);
                transition: 3s ease-in-out;
            }
            0%{
                border-top: 1px solid rgba(100, 8, 80, 0.774);
                border-bottom: 1px solid rgba(112, 18, 189, 0.664);
                border-left: 1px solid rgba(48, 23, 107, 0.945);
                border-right: 1px solid rgba(235, 11, 160, 0.911);
                transition: 3s ease-in-out;
            }
        }
    }
}


@media (max-width: 400px) {
    .slider {
        .container {
            width: 90%;
            height: 120%;
            margin-bottom: 20%;
            background-color: rgba(0, 0, 0, 0.527);
            margin-left: 5%;
            margin-right: 5%;
            display: inline-block;

            iframe {
                width: 100%;
                height: 350px;
                margin-left: auto;
                margin-right: auto;
            }
            .left {
                width: 80%; 
                height: 45%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5%;
                animation: colorBorder 2s ease infinite alternate-reverse;
                border-radius: 10px;
    
                h1 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 30px;
                    color: white;
                    padding: 10px;
                }
                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 15px;
                    color: rgba(255, 255, 255, 0.877);
                }
            }
        }
    
    }
}