@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300;400;500&family=Sanchez&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.navbar {
    width: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    height: 17%;
    top: 0%;
    position: fixed;
    display: inline-block;
    z-index: 1000;
    border-bottom: 1px solid rgba(185, 9, 147, 0.219);

    .topName {
        width: 80%;
        height: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1%;

        h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 50px;
            text-align: center;
            color: rgba(248, 11, 90, 0.61);
        }
    }

    .bottomList {
        width: 60%;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 1%;

        nav {
            display: flex;

            li {
                position: relative;
                text-decoration: none;
                list-style: none;
                justify-content: space-between;
                padding: 5px;
                margin-left: auto;
                margin-top: 0%;
                font-size: 22px;
                font-family: 'Open Sans', sans-serif;


                a {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.589);
                    margin-bottom: 5%;
                }
                a:hover {
                    text-decoration: none;
                    color: rgba(255, 255, 255, 0.836);
                    font-weight: 600;
                    transition: .2s ease-in-out;
                }
                
            }
        }
    }

    #nav {
        visibility: hidden;
    }
}


@media (max-width: 670px) {
    .navbar {
        .topName {
            width: 80%;
            height: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
    
            h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 40px;
                text-align: center;
                color: rgba(248, 11, 90, 0.61);
            }
        }

        .bottomList {
            visibility: hidden;
        }
        #nav {
            visibility: visible;

            #menu {
                display: block;
                position: absolute;
                width: 100%;
                top: 70px;
                right: 0px;
                background: #e7e7e7;
                transition: 0.6s;
                z-index: 1000;
                height: 0px;
                visibility: hidden;
                overflow-y: hidden;
              }
              #nav.active #menu {
                height: calc(100vh - 70px);
                visibility: visible;
                overflow-y: auto;
              }
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
              }
            #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
                color: white;
                margin-top: -60px;
                margin-left: 95%;
                margin-right: 5%;
              }
            #hamburger {
                border-top: 2px solid;
                width: 20px;
              }
            #hamburger::after,
            #hamburger::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
              }
            #nav.active #hamburger {
                border-top-color: transparent;
              }
            #nav.active #hamburger::before {
                transform: rotate(135deg);
              }
            #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
            }
        }
    }
    
}

@media (max-width: 400px) {
    .navbar {
        .topName {
            width: 80%;
            height: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
    
            h1 {
                font-family: 'Dosis', sans-serif;
                font-size: 35px;
                text-align: center;
                color: rgba(248, 11, 90, 0.61);
            }
        }
        .bottomList {
            visibility: hidden;
        }
        #nav {
            #menu a {
                padding: 1rem 0;
                margin: 0 1rem;
                border-bottom: 2px solid rgba(0, 0, 0, 0.05);
              }
            #btn-mobile {
                display: flex;
                padding: 0.5rem 1rem;
                font-size: 1rem;
                border: none;
                background: none;
                cursor: pointer;
                gap: 0.5rem;
                color: white;
                margin-top: -40px;
                margin-left: 80%;
                margin-right: 20%;
              }
            #hamburger {
                border-top: 2px solid;
                width: 20px;
              }
            #hamburger::after,
            #hamburger::before {
                content: '';
                display: block;
                width: 20px;
                height: 2px;
                background: currentColor;
                margin-top: 5px;
                transition: 0.3s;
                position: relative;
              }
            #nav.active #hamburger {
                border-top-color: transparent;
              }
            #nav.active #hamburger::before {
                transform: rotate(135deg);
              }
            #nav.active #hamburger::after {
                transform: rotate(-135deg);
                top: -7px;
            }
        }
    }
}

